{#
  variables that are available:
  - {{ gallery }}: contains an array with all galleries, each element contains data about the gallery
#}

{% if galleries %}

  {% for galleri in galleries %}

    {# Title #}
      <h3>
        <a href="{{ full_url }}/{{ galleri.meta_url }}">{{ galleri.title }}</a>
      </h3>

      <ul>
        <li>
        {# Meta #}
        {{ galleri.publish_on|spoondate(dateFormatLong,LANGUAGE ) }}

        {# Category#}
        {{ 'lbl.In'|trans }} {{ 'lbl.The'|trans }} {{ 'lbl.Category'|trans }} <a href="{{ full_url_category }}/{{ galleri.category_meta_url }}" title="{{ galleri.category_meta_title }}">
        {{ galleri.category_title }}</a>

        {# Description #}
        {% if galleri.description %}{{ galleri.description }}{% endif %}
        </li>
      </ul>

      {% if galleri.filename %}
        <a href="{{ full_url }}/{{ galleri.meta_url }}">
          <img src="/src/Frontend/Files/userfiles/images/slideshow/thumbnails/{{ galleri.filename }}" alt="{{ galleri.title }}" />
        </a>
      {% endif %}

  {% endfor %}

{% endif %}

