{#
  variables that are available:
  - {{ gallery }}: contains data about the gallery
  - {{ slideshow }}: contains an array with the images of the gallery, each element contains data about the image.
#}

  {% if widgetGallery %}
    {# Title #}
      <h3>
        {{ widgetGallery.title }}
      </h3>

    {# Slideshow #}
      <div class="flex-container" id="flex{{ widgetGallery.id }}" style="max-width:widgetGallery.widthpx">
        <div class="flexslider">
          <div class="flexsliderwrap{{ widgetGallery.id }}">
            <ul class="slides">
            {% for _itr_0 in widgetSlideshow %}
              <li data-thumb="/src/Frontend/Files/slideshow/thumbnails/{{ _itr_0.filename }}">
                {% if _itr_0.data.link %}
                <a href="{{ _itr_0.data.link.url }}"{% if _itr_0.data.link.external %} target="_blank" rel="nofollow"{% endif %} title="{{ _itr_0.title }}">
                {% endif %}
                  <img src="/src/Frontend/Files/slideshow/{{ _itr_0.filename }}" alt="{{ _itr_0.title }}" />
                {% if _itr_0.data.link %}
                </a>
                {% endif %}
                {% if _itr_0.caption %}<div class="flex-caption">{{ _itr_0.caption }}</div>{% endif %}
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>

  {% endif %}

